body {
        font-family: helvetica, arial, sans-serif;
        margin: 2em;
        background-color: #EFDECD; /* Updated background color */
        color: #825959;
    }
    h1{
        font-family: verdana, arial, sans-serif;
        text-align: center;
        border: 10px solid white;
    }
    button{
        background-color: #825959;
        color: white;
        padding: 10px 20px;
        margin: 40px;
        border: none;
        cursor: pointer;
        align-items: right;
    }
    #result{
        text-align: center;

    }
    #check{
        position: fixed;
        bottom: 0;
        right: 0;
        cursor: pointer;
    }

    #image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%
    }
    
    #image-container img {
        max-width: 100%; 
        max-height: 100%;
    